<html>
<head>
<meta charset="UTF-8" />
<link rel="stylesheet"
	href="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css"
	integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
	crossorigin="anonymous">
</head>
<body>

	<div class="container">
	<div class="card" th:each="order : ${orders}">
		<div class="card-header" th:text="${order.name}">Product's name</div>
		<div class="card-body">
			<div class="row">
				<div class="col-12 col-sm-8 mb-3">
					<div class="row">
					<div class="col-md-5">Price: <span th:text="${order.price}">200.99</span></div>
					<div class="col-md-7">Delivery's date: <span th:text="${order.date}">10/28/2020</span></div>
					</div>
					<div>Product</div>
					<div>
						<input class="form-control" th:value="${order.url}"
							value="Product's url:" />
					</div>

					<div>Description</div>
					<div>
						<textarea class="form-control" th:text="${order.description}">Product's description</textarea>
					</div>
				</div>

				<div class="col-12 col-sm-4">
					<div>
						<img class="img-thumbnail" th:src="${order.imageUrl}" src="" />
					</div>
				</div>
			</div>
		</div>
		</div>
	</div>
</body>

</html>